<footer id="footer">
  <div class="content">
    <div class="logos">
      <img src="./assets/img/logo_gov-footer.png" alt="Logo GOV.CO">
      <img src="./assets/img/logo_co_footer.png" alt="Logo .CO">
    </div>
    <div class="contact-info">
        <ul>
          <li>Dirección: Carrera 7, No. 31-10, Piso 13 y 14, Bogotá D.C.</li>
          <li>PBX: (+57) 601 7560009 Opción 1</li>
          <li>Atención: Lunes a viernes de 8:00 a.m a 4:00 p.m jornada continua.</li>
          <li>PQRSDF / Correo:
            <a href="mailto:atencionalciudadano@serviciodeempleo.gov.co">atencionalciudadano@serviciodeempleo.gov.co</a>
            <a href="mailto:notificacionesjudiciales@serviciodeempleo.gov.co">notificacionesjudiciales@serviciodeempleo.gov.co</a>
          </li>
        </ul>
    </div>
    <div class="general-info">
      <div class="unidad">
        <span>Unidad Administrativa Especial del Servicio Público de Empleo</span>
        <a href="https://www.serviciodeempleo.gov.co/spe/media/documents/pdf/Politica-de-Seguridad-y-Privacidad-de-la-Informacion-Final-Publicada.pdf" target="_blank" role="button">Política de seguridad de la información</a>
      </div>
      <div class="redes">
        <a href="https://twitter.com/ServiciodEmpleo" target="_blank"><i class="fa fa-twitter fa-circulo"></i></a>
        <a href="https://www.instagram.com/servicioempleocol/" target="_blank"><i class="fa fa-instagram fa-circulo"></i></a>
        <a href="https://www.facebook.com/SPEColombia" target="_blank"><i class="fa fa-facebook fa-circulo"></i></a>
      </div>
    </div>
  </div>
</footer>
