<div class="modal-header">
  <h5 class="modal-title text-center">Notificación</h5>
</div>
<div class="modal-body">
  <p>Existen errores en la información ingresada. Por favor verifique y ajuste la información para continuar!!</p>
  <ul class="list-group" *ngIf="listErrors.length > 0">
    <li class="list-group-item text-danger" *ngFor="let error of listErrors">
      * {{ error }}
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.close('close')">Cerrar</button>
</div>
