<div class="modal-header">
  <!-- <h5 class="modal-title">fino</h5> -->
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
    (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table ">
      <thead class="table-light">
        <tr>
          <th>Descripción Experiencias Previas</th>
          <th>Equivalencias</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Prácticas</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Judicaturas</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Servicios en los consultorios jurídicos</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Monitorías</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Contratos laborales</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Contratos de prestación de servicios</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Participación en grupos de investigación debodamente certificados por la autoridad competente</td>
          <td>100%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
