<!-- <section class="cabozote-gris d-flex align-items-center">
    <p class="text-light text-start">Última actualización: 16 | 12 | 2022 - 11:45 pm</p>
    <button type="button" class="btn text-end button-notification" onclick="alert('En construcción!!')">
      <i class="fa fa-solid fa-bell text-light"></i>
    </button>
    <button type="button" class="btn text-end button-exit" onclick="alert('En construcción!!')">
      <i class="fa fa-solid fa-sign-out fa-lg text-light"></i>
    </button>
  </section> -->
