body {
    padding:50px 100px;
    background:#f6f6f6;
  }
  // A decent font
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:800');
  // The loop for generating text shadows
  @mixin render-shadow($depth, $shadow-color) {
      $longshadow: ();
      $longshadow: append($longshadow, 0px 0px 0 $shadow-color),; // Start with 0px 0px
      @for $i from 1 through $depth - 1 {
        $longshadow: append($longshadow, $i * 1px $i * 1px 0 $shadow-color),; // Append & increment by 1
      }
      text-shadow: $longshadow; // render a bunch of text shadaw values
  }
  // The mixin
  @mixin css-icon($background-color, $shadow-color, $size) {
    $sizePx: $size + px;
    $sizeRadius:calc($size / 5);
    $sizeRadiusPx: $sizeRadius + px;
    font-family: 'Work Sans', sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:$sizePx;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    background: $background-color;
    height:$sizePx;
    width:$sizePx;
    border-radius: $sizeRadiusPx;
    overflow: hidden;
    border:solid 1px transparent;
    // box-shadow: 0 10px 30px rgba(black, 0.2);
    span {
      font-size:80%;
      text-align: center;
      display: block;
      color: #000 !important;
      border-style: solid;
    border-width: 1px;
    border-radius: 5px;
      // color: white;
      // @include render-shadow ($size, $shadow-color);
    }
  }
  
  
  // The CSS
  .css-icon {
    padding: 0px;
    margin: 0px;
    @include css-icon(#fff, #000, 30);    
    padding-top: 2px;
    // padding-left: 1px;
  }

  .td-icon-css{
    text-align: center;
    font-size: 30px;
  }
  

/** Requerimitno vacante **/

#cardRequerimiento p{
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.requerimientoVacante{
  display: inline-block;
  vertical-align: top;
}

.requerimientoVacante div{
  display: inline-block;
}

.requerimientoVacante p{
  color: #000 !important;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}
.requerimientoVacante p span, .sinInformacion, textarea{
  padding-left: 5px;
  color: #000 !important;
  font-size: 17px;
}
.card{
  margin: 0px;
}





  // View Compiled CSS to see the magic!!!
  // Twitter @eddieebeling