.button-notification {
  margin: 0 0 0 auto;
  border-left: 1px solid white;
  border-radius: 0;
}
.button-notification:hover i {
  color: #dd2d2b !important;
}

.button-exit {
  border-left: 1px solid white;
  border-radius: 0;
}
.button-exit:hover i {
  color: #dd2d2b !important;
}
 
.container-dashboard {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-dashboard .container-dash .content-dash {
  display: flex;
} 
.container-dashboard .container-dash .content-dash .menu {
  width: 100%;
  max-width: 390px;
} 

.info {
  display: contents;
}
