.content-disability {
  float: right;
  width: 58px;
  height: 191px;
}

.content-disability ul {
  list-style: none;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  padding: 10px;
  background: #595a5c 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}
.content-disability ul li {
  background-color: #ffffff;
  border-radius: 5px 0px 0px 5px;
  opacity: 1;
}
.content-disability ul li button {
  display: flex;
  background-color: #fff;
  opacity: 1;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.content-disability ul li button:hover {
  color: #dd2d2b;
}
