<nav class="content-disability ms-auto">
  <ul>
    <li>
      <button class="btn">
        <i class="fa fa-solid fa-adjust"></i>
      </button>
    </li>
    <li>
      <button class="btn">
        <fa-icon [icon]="['fas', 'font']"></fa-icon>
      </button>
    </li>
    <li>
      <button class="btn">
        <fa-icon [icon]="['fas', 'font']"></fa-icon>
      </button>
    </li>
    <li>
      <button class="btn">
        <fa-icon [icon]="['fas', 'sign-language']"></fa-icon>
      </button>
    </li>
  </ul>
</nav>
