
.container-nav-cv {
  width: 100%;
  padding: 0 24px;
}
.container-nav-cv .nav-option-cv {
  width: 100%;
  margin-bottom: 48px;
}

.nav-option-cv ul {
  width: 100%;
  display: flex;
  justify-content:space-around;
}

.nav-option-cv ul li {
  max-width: 115px;
  min-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
}
.nav-option-cv ul li .active {
  border-bottom: thin solid #F90013;
}
.nav-option-cv ul li a {
  color: #444;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: thin solid #e0e0e0;
  min-height: 56px;
  display: flex;
  align-items: center;
}


