
<div class="nav-options-top">
  <span class="title-options">Más opciones</span>
  <ul>
    <li>
      <a (click)="alertEnConstruccion()">
        <i><fa-icon [icon]="['fas', 'file-upload']"></fa-icon></i>
        <span>Sube tu hoja de vida</span>
      </a>
    </li>
    <li>
      <a (click)="alertEnConstruccion()">
        <i class="fa fa-certificate"></i>
        <span>Certificado de inscripción</span>
      </a>
    </li>
    <li>
      <a (click)="alertEnConstruccion()">
        <i class="fa fa-gears"></i>
        <span>Configuración</span>
      </a>
    </li>
    <li>
      <a (click)="alertEnConstruccion()">
        <i><fa-icon [icon]="['fas', 'file-download']"></fa-icon></i> 
        <span>Descargar HV</span>
      </a>
    </li>
    <li>
      <a href="../../../../assets/docs/TÉRMINOS Y CONDICIONES 201601_V_1.0-POTENCIAL_EMPLEADOR.pdf" target="_blank">
        <i><fa-icon [icon]="['fas', 'file-contract']"></fa-icon></i> 
        <span>Términos y condiciones</span>
      </a>
    </li>
  </ul>
</div>
